[submodule "MediaVaultClients/MediaVaultClient"]
	path = MediaVaultClients/MediaVaultClient
	url = https://github.com/nkamkolkar/MediaVaultClient.git
[submodule "MediaVaultServer"]
	path = MediaVaultServer
	url = https://github.com/nkamkolkar/MediaVaultServer.git
[submodule "MediaVaultClients/IOSClient"]
	path = MediaVaultClients/IOSClient
	url = https://github.com/nkamkolkar/IOSClient.git
